In [1]:
#Import Libraries panda, numpy and matplotlib.pyplot
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pwd

'/Users/anesumasube/labs/Module1project1/module1project'

In [5]:
#Import tn dataset originally (https://www.the-numbers.com/movie/budgets/all)
tn = pd.read_csv('datauz/tn.movie_budgets.csv')

In [10]:
#tn-Overview

print(tn.info())
tn.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5782 entries, 0 to 5781
Data columns (total 6 columns):
id                   5782 non-null int64
release_date         5782 non-null object
movie                5782 non-null object
production_budget    5782 non-null object
domestic_gross       5782 non-null object
worldwide_gross      5782 non-null object
dtypes: int64(1), object(5)
memory usage: 271.1+ KB
None

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [17]:
#Creating total gross and profit variables
total_gross = tn.domestic_gross + tn.worldwide_gross
#Appending total_gross variable to tn dataset
tn.append(total_gross)

TypeError: Can only append a Series if ignore_index=True or if the Series has a name

TypeError: Can only append a Series if ignore_index=True or if the Series has a name